.search {
	position: relative;
	text-align: center;
	padding-bottom: 240px;
}

.search__background {
	position: absolute;
	top: -100px;
	overflow: hidden;
	width: 100%;
	z-index: -1;
}

.search__background img {
	transform: translate(-35%, 0%);
}

.search__title {
	margin-bottom: 80px;
}

.search__list {
	display: flex;
	flex-direction: column;
	gap: 80px;
}